<a class="nav-link active" href="/post/{{id}}">
      <div class="card bg-dark text-white container row rounded ml-3">
        <div class="col">
          <div class="card-body text-center bg-dark">
                  <div class="card-body">
                    <h5 class="card-title">{{name}}</h5>
                    <p class="card-text">{{content}}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="card text-center container row rounded">
          the post was written by <b>{{user.name}}</b></a>
          <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a></div>
